
.submit-order {
	text-align:center;
}
.orders {	
	display:flex;
	flex-wrap:wrap;
}

.order-item {
	display:flex;
	flex-direction:column;
	min-width:250px;
	margin:12px;
	padding:12px;
	text-align:center;
	border:1px solid black;
	border-bottom-width:2px;

}

.order-item .id {

}
.order-item .actions {

}

.saving {
	color:#ccc;
	background:url('ajax-loader.gif') no-repeat center;
}
.deleting {
	text-decoration:line-through;
	color:red;
	background:url('ajax-loader.gif') no-repeat center;
}